@model Sustan.Models.Building

@{
    ViewBag.Title = "Brisanje";
}

@Html.Partial("_AdminPageTitle")

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Da li sigurno želite da obrišete zgradu?</h3>
                <div>
                    <hr />
                    <h3 class="text-danger text-center">@ViewBag.MessageTitle</h3>
                    <h4 class="text-danger text-center">@ViewBag.Message</h4>
                    <br />
                    <dl class="dl-horizontal">
                        <dt>
                            <strong>@Html.DisplayNameFor(model => model.JIBZ)</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.JIBZ)
                        </dd>

                        <dt>
                            <strong>@Html.DisplayNameFor(model => model.Street)</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Street)
                        </dd>

                        <dt>
                            <strong>@Html.DisplayNameFor(model => model.Number)</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Number)
                        </dd>

                        <dt>
                            <strong>@Html.DisplayNameFor(model => model.Entrance)</strong>
                        </dt>

                        <dd>
                            @if (Model.Entrance.IsEmpty())
                            {
                                <div>-</div>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.Entrance)

                            }
                        </dd>

                        <dt>
                            <strong>@Html.DisplayNameFor(model => model.NumberOfFloors)</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NumberOfFloors)
                        </dd>

                        <dt>
                            <strong>@Html.DisplayNameFor(model => model.Pib)</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Pib)
                        </dd>

                        <dt>
                            <strong>@Html.DisplayNameFor(model => model.BuildingRegistrationNumber)</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BuildingRegistrationNumber)
                        </dd>

                        <dt>
                            <strong>@Html.DisplayNameFor(model => model.AccountNumber)</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AccountNumber)
                        </dd>

                        <dt>
                            <strong>@Html.DisplayNameFor(model => model.AccountBalance)</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AccountBalance)
                        </dd>

                        <dt>
                            <strong>@Html.DisplayNameFor(model => model.ParcelNumber)</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ParcelNumber)
                        </dd>

                        <dt>
                            <strong>@Html.DisplayNameFor(model => model.BuildingArea)</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BuildingArea)
                        </dd>

                        <dt>
                            <strong>@Html.DisplayNameFor(model => model.BuildingManager)</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BuildingManager)
                        </dd>

                        @*<dt>
                                <strong>@Html.DisplayNameFor(model => model.ImageUrl)</strong>
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ImageUrl)
                            </dd>*@

                    </dl>
                    <br />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            @Html.ActionLink("Nazad", "Index", null, new { @class = "btn btn-default" })
                            <input type="submit" value="Obriši" class="btn btn-primary" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
