@model Sustan.ViewModels.UserViewModel

@{
    ViewBag.Title = "Brisanje";
}

@Html.Partial("_AdminPageTitle")

<section>
    <div class="container">
        <div class="row">
            <h3>Da li sigurno želite da obrišete korisnika?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.RegistrationDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RegistrationDate)
                    </dd>

                </dl>
                <br />

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Email)
                    @Html.HiddenFor(model => model.FirstName)
                    @Html.HiddenFor(model => model.LastName)
                    @Html.HiddenFor(model => model.Password)
                    @Html.HiddenFor(model => model.RegistrationDate)
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-actions no-color">
                        @Html.ActionLink("Nazad", "Index", null, new { @class = "btn btn-default" })
                        <input type="submit" value="Obriši" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>
</section>