@model IEnumerable<Sustan.Models.Apartment>

@{
    ViewBag.Title = "Stanovi";
}

@Html.Partial("_AdminPageTitle")

<section>
    <div class="container">
        <div class="row">
            <br />
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <div class="my-btn-add">
                    @Html.Partial("_CreateButtonPartial")
                </div>
                <table id="apartment" class="table table-bordered table-hover table-striped table-responsive">
                    <thead>
                        <tr class="bg-primary">
                            <th>
                                @Html.DisplayNameFor(model => model.Building.JIBZ)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.JIBS)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ApartmentNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ApartmentArea)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NumberOfTenants)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CostOfService)
                            </th>
                            <th>
                                @Html.DisplayName("Korisnik")
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Building.JIBZ)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.JIBS)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApartmentNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApartmentArea)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOfTenants)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CostOfService)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Email)
                            </td>
                            <td>
                                <a href="@Url.Action("Delete")/@item.Id" title="Brisanje" class="btn btn-sm btn-danger glyphicon glyphicon-trash pull-right"></a>
                                <span class="pull-right ">&nbsp;</span>
                                <a href="@Url.Action("Details")/@item.Id" title="Detalji" class="btn btn-sm btn-primary glyphicon glyphicon-list pull-right"></a>
                                <span class="pull-right">&nbsp;</span>
                                <a href="@Url.Action("Edit")/@item.Id" title="Izmena" class="btn btn-sm btn-success glyphicon glyphicon-pencil pull-right"></a>
                            </td>
                        </tr>
                    }

                </table>
            }
        </div>
    </div>
</section>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#apartment").DataTable({
                "language": {
                    "sProcessing": "Procesiranje u toku...",
                    "sLengthMenu": "Prikaži _MENU_ elemenata",
                    "sZeroRecords": "Nije pronađen nijedan rezultat",
                    "sInfo": "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
                    "sInfoEmpty": "Prikaz 0 do 0 od ukupno 0 elemenata",
                    "sInfoFiltered": "(filtrirano od ukupno _MAX_ elemenata)",
                    "sInfoPostFix": "",
                    "sSearch": "Pretraga:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Početna",
                        "sPrevious": "Prethodna",
                        "sNext": "Sledeća",
                        "sLast": "Poslednja"
                    }
                }
            });

        });
    </script>
}
