<!-- Footer -->
<footer class="footer widget-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="col-lg-6 col-sm-6 reponsive-mb30">
                    <div class="widget widget-out-link clearfix">
                        <h5 class="widget-title">O NAMA</h5>
                        <div id="logo-footer" class="logo">
                            <a href="/" rel="home">
                                <img src="/images/Logo_SU.png" alt="image">
                            </a>
                        </div>
                        <p class="text-justify">SU-STAN SISTEMI DOO SUBOTICA je firma koja posluje preko 5 godina, ali osnovu postojanja ove firme čini više od 15 godina građevinskog i finansijskog iskustva vlasnika i tima koji stoji iza njega.</p>

                    </div>
                </div><!-- /.col-md-3 -->

                <div class="col-lg-6 col-sm-6 reponsive-mb30">
                    <div class="widget widget-out-link clearfix">
                        <h5 class="widget-title">LINKOVI</h5>
                        <ul>
                            <li>@Html.ActionLink("Početna", "Index", "Home")</li>
                            <li>@Html.ActionLink("O nama", "Index", "About")</li>
                            <li>@Html.ActionLink("Obrasci", "Index", "DownloadForms")</li>
                            <li>@Html.ActionLink("Česta pitanja", "Index", "Faq")</li>
                            <li>@Html.ActionLink("Kontakt", "Index", "Contact")</li>
                        </ul>
                    </div>
                </div><!-- /.col-md-3 -->
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="col-lg-6 col-sm-6 reponsive-mb30">
                    <div class="widget widget-letter">
                        <h5 class="widget-title">POSLOVNICA</h5>
                        <ul class="flat-information">
                            <li><i class="fa fa-map-marker"></i>Braće Radić 12c</li>
                            <li class="margin-left-20">24000 Subotica</li>
                            <li><i class="fa fa-phone"></i><a href="tel:+381693939390">069/39 39 390</a></li>
                            <li><i class="fa fa-envelope"></i><a href="mailto:info@sustan.rs">info@sustan.rs</a></li>
                        </ul>
                    </div>
                </div><!-- /.col-md-3 -->

                <div class="col-lg-6 col-sm-6 reponsive-mb30">
                    <div class="widget widget-letter">
                        <h5 class="widget-title">KONTAKT</h5>
                        <ul class="flat-information">
                            <li><i class="fa fa-map-marker"></i>Đorđa Natoševića 30</li>
                            <li class="margin-left-20">24000 Subotica</li>
                            <li><i class="fa fa-phone"></i><a href="tel:+381693939390">069/39 39 390</a></li>
                            <li><i class="fa fa-envelope"></i><a href="mailto:info@sustan.rs">info@sustan.rs</a></li>
                        </ul>
                    </div>
                </div><!-- /.col-md-3 -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</footer>

<!-- Bottom -->
<div class="bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="copyright">
                    <p>
                        &copy; 2018 <a href="http://sustan.rs">SU-STAN SISTEMI DOO</a> | Sva prava zadržana.
                    </p>
                </div>
            </div>
            @* SOCIAL ICONS *@
            @*<div class="col-md-6 col-sm-6">
                <ul class="social-links style2 text-right">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>*@
        </div>
    </div><!-- /.container -->
</div><!-- bottom -->
